.tag-filter {
  background-color: var(--background-color-light, white);
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 15px;
  z-index: 900;
  margin-top: 0px;
  margin-left: 40px;
  position: relative;
}

.tag-filter h3 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 1.2em;
  color: var(--text-color, #333);
}

.tag-search {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #569BC4;
  width: 100%;
  box-sizing: border-box;
  color: #333;
  background-color: #f8f9fa;
  margin-bottom: 10px;
}

.filter-description {
  margin-bottom: 15px;
  font-size: 0.9em;
  color: #666;
  font-style: italic;
}

.tag-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 10px;
  max-height: 200px;
  overflow-y: auto;
  padding-right: 8px;
}

.tag-buttons::-webkit-scrollbar {
  width: 8px;
}

.tag-buttons::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 4px;
}

.tag-buttons::-webkit-scrollbar-thumb {
  background: #ddd;
  border-radius: 4px;
}

.tag-buttons::-webkit-scrollbar-thumb:hover {
  background: #ccc;
}

.tag-button {
  padding: 5px 10px;
  border-radius: 15px;
  border: 1px solid #ddd;
  background-color: rgb(113, 113, 113);
  cursor: pointer;
  font-size: 0.9em;
  transition: all 0.2s;
}

.tag-button.selected {
  background-color: #4a90e2;
  color: white;
  border-color: #4a90e2;
}

.clear-filters {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.9em;
  margin-top: 10px;
}

.clear-filters:hover {
  background-color: #d32f2f;
}