.filter-toggle-button {
  position: absolute;
  top: 110px;
  left: 10px;
  z-index: 999;
  padding: 8px;
  display: flex;
  align-items: center;
  gap: 5px;
  background: #569BC4;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: min-width 0.2s ease-in-out;
}

.filter-overlay {
  position: absolute;
  top: 160px;
  left: 10px;
  z-index: 998;
  width: 300px;
}