.map-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
  will-change: width, left;
}

.map-container.taskbar-hidden {
  left: 0;
  width: 100%;
  transition-timing-function: ease-in-out;
}

.map-container.create-post-mode,
.map-container.create-post-mode *,
.map-container.create-post-mode .mapboxgl-canvas,
.map-container.create-post-mode .mapboxgl-canvas-container,
.map-container.create-post-mode .mapboxgl-map {
  cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="red" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M21 10c0 7-9 13-9 13s-9-6-9-13a9 9 0 0 1 18 0z"></path><circle cx="12" cy="10" r="3"></circle></svg>') 12 24, crosshair !important;
}

@media screen and (max-width: 768px) {
  .map-container {
    left: 0;
    width: 100%;
    transition: all 0.3s ease-in-out;
  }

  .map-container.taskbar-hidden {
    left: 0;
    width: 100%;
    transition-timing-function: ease-in-out;
  }
}

.mapboxgl-popup-content {
  padding: 10px;
  border-radius: 4px;
  max-width: 300px;
}

.mapboxgl-popup-close-button {
  font-size: 16px;
  padding: 5px;
}

.marker {
  background-image: url('/marker-icon.png');
  background-size: cover;
  width: 25px;
  height: 41px;
  cursor: pointer;
}

[data-theme] .map-container {
  margin: 10px 10px 10px 150px;
  border-radius: 20px;
  overflow: hidden;
  height: calc(100vh - 40px);
  width: calc(100% - 160px);
  transition: all 0.3s ease;
}

[data-theme] .map-container.taskbar-hidden {
  margin-left: 0px;
  width: calc(100% - 120px);
}

