.map-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
  will-change: width, left;
}

.map-container.taskbar-hidden {
  left: 0;
  width: 100%;
  transition-timing-function: ease-in-out;
}

/* Mobile portrait mode */
@media screen and (max-width: 768px) and (orientation: portrait) {
  .map-container {
    left: 0;
    width: 100%;
    top: 0;
    height: 100%;
    transition: all 0.3s ease-in-out;
    will-change: top, height;
  }

  .map-container.taskbar-hidden {
    top: 0;
    height: 100%;
    transition-timing-function: ease-in-out;
  }
}

/* Mobile landscape mode */
@media screen and (max-width: 768px) and (orientation: landscape) {
  .map-container {
    left: 0;
    width: 100%;
    transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
    will-change: width, left;
  }

  .map-container.taskbar-hidden {
    left: 0;
    width: 100%;
    transition-timing-function: ease-in-out;
  }
}

.mapboxgl-popup-content {
  padding: 10px;
  border-radius: 4px;
  max-width: 300px;
}

.mapboxgl-popup-close-button {
  font-size: 16px;
  padding: 5px;
}

.marker {
  background-image: url('/marker-icon.png');
  background-size: cover;
  width: 25px;
  height: 41px;
  cursor: pointer;
}